<nav class="navbar-nav bg-dark text-white pt-4 pb-4">
      <div class="mx-4">
        <div>
          <%= link_to 'BLOG TDD APP', root_path, :class => 'text-white' %>
          <ul class="d-flex p-0">
            <li class="nav-item list-unstyled mr-2">
              <%= link_to 'Create a post', new_post_path, :class => 'navbar-link' %> |
            </li>
            <li class="nav-item list-unstyled mr-2">
              <%= link_to 'My posts', new_post_path , :class => 'navbar-link' %> |
            </li>
          </ul>
        <div>
        <div class="navbar-text">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <div>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </div>
          <% else %>
            <div>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            </div>
          <% end %>
        </div>
          <div>
            <p class="notice text-danger p-0"><%= notice %></p>
            <p class="alert text-danger p-0"><%= alert %></p>
          </div>
      </div>
    </nav>